<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.outlinevpn">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BIND_VPN_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <application>
        <service
        android:name=".VpnTunnelService"
        android:permission="android.permission.BIND_VPN_SERVICE"
        android:exported="false" />
    </application>
</manifest>
